__pycache__
# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

src/data/cards.json
src/data/links.json
src/data/fresks.json
src/data/pages.json
src/data/assets.json
src/data/langs.json
/settings.json
/variants.json

src/i18n/local
public/cards
public/local/logo
public/fonts
public/.htaccess

src/assets/local
src/assets/_links
src/assets/_cards
src/assets/_fresks
src/assets/_pages
src/assets/styles/local.scss

public/local
public/illustrations
report.xml